#thaipublica01 .debug {
	clear: both;
}

body {
	background-color: #f3efe6;
}
h1#title {
	text-align: center;
}
#cboxOverlay {
	background-color: #d2cfc7;
	/*opacity: 82%;*/
}

#slider-wrapper {
	clear: both;
	background: url(../asset/timeline.png) no-repeat;
	height: 80px;
	border: none;
	width: 882px;
	margin-left: 42px;
	left: -8px;
}

#slider-range-max {
	position: relative;
	border: none;
	background: none;
	width: 842px;
	left: -5px;
	top: 4px;
}
#slider-range-max a {
	width: 50px;
	display: block;
	margin: 13px 0 0 0;
	outline: none;
}

#graph-control div{
	height: 76px;
	width: 36px;
}

#map-control div {
	height: 76px;
	width: 36px;

	padding: 10px;
}

#svgload, #svggraph {
	float: left;
}

#graph-control {
	float: left;
	width: 76px;
	z-index: 999;
}

#map-control {
	float: left;
}

#map-contr	ol div.green-factory {
	background: url(../asset/unselect-btn-green_factory.png) no-repeat center center;
}

#map-control div.home {
	background: url(../asset/unselect-btn-home.png) no-repeat center center;
}

#map-control div.accident, #graph-control div.accident {
	background: url(../asset/unselect-btn-accident.png) no-repeat center center;
}

#map-control div.agriculture {
	background: url(../asset/unselect-btn-agriculture.png) no-repeat center center;
}

#map-control div.environment {
	background: url(../asset/unselect-btn-environment.png) no-repeat center center;
}


#graph-control div.event {
	background: url(../asset/unselect-btn-event.png) no-repeat center center;
}

#graph-control div.factory, #map-control div.factory {
	background: url(../asset/unselect-btn-factory.png) no-repeat center center;
}

#map-control div.green-factory {
	background: url(../asset/unselect-btn-green_factory.png) no-repeat center center;
}

#map-control div.government {
	background: url(../asset/unselect-btn-government.png) no-repeat center center;
}

#map-control div.green-factory.selected {
	background: url(../asset/select-btn-green_factory.png) no-repeat center center;
}

#map-control div.home.selected {
	background: url(../asset/select-btn-home.png) no-repeat center center;
}

#map-control div.accident.selected, #graph-control div.accident.selected {
	background: url(../asset/select-btn-accident.png) no-repeat center center;
}

#map-control div.agriculture.selected {
	background: url(../asset/select-btn-agriculture.png) no-repeat center center;
}

#map-control div.environment.selected {
	background: url(../asset/select-btn-environment.png) no-repeat center center;
}


#graph-control div.event.selected {
	background: url(../asset/select-btn-event.png) no-repeat center center;
}

#graph-control div.factory.selected, #map-control div.factory.selected {
	background: url(../asset/select-btn-factory.png) no-repeat center center;
}

#map-control div.green-factory.selected {
	background: url(../asset/select-btn-green_factory.png) no-repeat center center;
}

#map-control div.government.selected {
	background: url(../asset/select-btn-government.png) no-repeat center center;
}

#graph-control div.gpp {
	background: url(../asset/unselect-btn-gpp.png) no-repeat center center;
}

#graph-control div.gpp.selected {
	background: url(../asset/select-btn-gpp.png) no-repeat center center;
}

#graph-control div.people.selected {
	background: url(../asset/select-btn-people.png) no-repeat center center;
}

#graph-control div.peopleHide.selected {
	background: url(../asset/select-btn-peopleHide.png) no-repeat center center;
}

#graph-control div.people {
	background: url(../asset/unselect-btn-people.png) no-repeat center center;
}

#graph-control div.peopleHide {
	background: url(../asset/unselect-btn-peopleHide.png) no-repeat center center;
}



#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#graph-wrapper {
	width: 1024px;
	height: 270px;
}

#map-wrapper {
	top: 17px;
	left: 2px;
}

#thaipublica01 .info-wrapper{
	width: 440px;
	padding: 0 0 0 20px;
}

#thaipublica01 .info-wrapper.accident {
	padding: 0 0 0 45px;
}

#thaipublica01 .info-item .info-text {
	margin-bottom: 20px;
	color: #999;
	line-height: 18px;
	font-family: 'Thonburi';
	font-size: 14px;
}

#thaipublica01 .info-image {
	width: 430px;
}


#graph-control {
	right: 7px;
}

#incident-graph-Event .incident {
	font-family: 'Thonburi';
	font-size: 14px;
}

#thaipublica01 div.preloader {
	left: 50%;
	right: 50%;
	position: absolute;
	top: 50%;
	bottom: 50%;
}

div#slider-wrapper {
	display: none;
}

#thaipublica01 .ui-focus, .ui-btn:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none ;
}


#thaipublica01 .information {
	background: url('../asset/unselect-btn-infomation.png') no-repeat 0 -3px;
	left: 700px;
	height: 28px;
	text-indent: -9999px;
	width: 35px;
	position: absolute;
	top: 0px;

}