@font-face {
    font-family: 'db_brandvoice_xbold';
    src: url('db_brandvoice_x_bd.eot');
    src: url('db_brandvoice_x_bd.eot?#iefix') format('embedded-opentype'),
         url('db_brandvoice_x_bd.woff') format('woff'),
         url('db_brandvoice_x_bd.ttf') format('truetype'),
         url('db_brandvoice_x_bd.svg#db_brandvoice_xbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_brandvoice_x_lightlight';
    src: url('db_brandvoice_x_li.eot');
    src: url('db_brandvoice_x_li.eot?#iefix') format('embedded-opentype'),
         url('db_brandvoice_x_li.woff') format('woff'),
         url('db_brandvoice_x_li.ttf') format('truetype'),
         url('db_brandvoice_x_li.svg#db_brandvoice_x_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin time-font {
		font-family: 'db_brandvoice_xbold';
		font-size: 21px;
}


body {
	font-family: Thonburi, Helvetica, Tahoma, sans-serif;
	font-size: 13px;
}

/*-------------------------
 									Variables
 --------------------------*/
 $incident-color: #333;
 
/*-------------------------
 									Global
 --------------------------*/
.content {
	width: 1044px;
	margin: 0 auto;
	position: relative;
}
#slider-wrapper {
	position: absolute;
	top: 310px;
}

/*-------------------------
 									Border-Box 
 --------------------------*/
 #cboxTopLeft, #cboxTopCenter, #cboxTopRight,
 #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft,
 #cboxBottomCenter, #cboxBottomRight{
	 display: none;
 }
 #cboxContent {
	 border-radius: 15px;
 }
/*-------------------------
 									PrimeBox 
 --------------------------*/
.primebox {
	margin: 20px;
	img { 
		float: left; 
		margin-right: 15px;
	}
	.fullname, .holdyear, .time {
		font-family: 'db_brandvoice_xbold';
		font-size: 28px;
		color: #7c7256;
		margin-top: 0;
		
	}
	.holdyear { 
		@include time-font;
	}
	ul {
		clear: both;
		padding-left: 20px;
		background: url('../images/timeline.png') repeat-y 22px 0;
		padding-top: 20px;
		li {
			margin-bottom: 20px;
			list-style: none;
		}
	}
	.time {
		background: url('../images/tl-point.png') no-repeat 0 10px;
		padding-left: 15px;
	}
	.data-year {
		padding-left: 15px;
		color: #333;
	}
}
#colorbox {
	opacity: 0.8;
}
#cboxWrapper, #cboxMiddleLeft, 
#cboxContent, #cboxLoadedContent {
/* 	min-height: 400px; */
}
#cboxClose {
	padding: 10px 20px 0;
}


/*-------------------------
 									AccidentBox 
 --------------------------*/
.event-graph-Accident, .event-graph-Event, .accident-map  {
	margin: 20px;
	background: url('../images/window-accident.png') no-repeat;
	ul {
		padding-left: 18px;
		padding-top: 20px;
		margin-top: 0;
		background: url('../images/timeline-red.png') repeat-y 22px 0;
		li {
			margin-bottom: 20px;
			list-style: none;
		}		
	}
	.time {
		@include time-font;
		color: #c23d4d;
		background: url('../images/tl-point-red.png') no-repeat 0 10px;
		padding-left: 25px;
	}
	.incident, .acc_desc { 
		@include time-font;
		padding-left: 25px;
		margin-bottom: 5px;
		color: $incident-color;
		font-size: 22px;
	}
	.detail, .acc_loc, .acc_eff {
		padding-left: 25px;
		font-size: 14px;
		span { font-weight: bold; }
	}
	.incident-year {
		@include time-font;
		margin-left: 60px;
		font-size: 30px;
		color: #c23d4d;
	}
}

/*-------------------------
 									EventBox 
 --------------------------*/
.event-graph-Event {
	margin: 20px;
	background: url('../images/window-event.png') no-repeat;
	ul {
		background: url('../images/timeline-blue.png') repeat-y 25px 0;
	}
	.time {
		@include time-font;
		color: #1b7c94;
		background: url('../images/tl-point-blue.png') no-repeat 4px 10px;
	}
	.incident-year {
		color: #1b7c94;
	}
}

#graph-wrapper {
	width: 1044px;
	overflow: hidden;
	position: relative;
}
#graph-control {
	position: absolute;
	right: 40px;
	top: 60px;
	div {
		margin-bottom: 10px;
	}
}
/*-------------------------
							Accident From Map
 --------------------------*/
.accident-map {
	.acc_date {
		@include time-font;
		color: #c23d4d;
		margin-left: 60px;
		margin-bottom: 5px;
		font-size: 30px;
	}
	.acc_desc { margin-top: 10px; }
}

/*-------------------------
	 									Tipsy 
 --------------------------*/
/* #graph-control, #map-control { */
	.tipsy-inner {
		background-color: #ff6600 !important;
		font-size: 13px;
	}
	.tipsy-arrow-e {
		border-left-color: #ff6600 !important;
		
	}
	.tipsy-arrow {
		border-bottom-width: 6px !important;
		right: 1px !important;
	}
/* } */
/* #map-control { */
	.tipsy-inner {
		background-color: #ff9900 !important;
	}
	.tipsy-arrow-e {
		border-left-color: #ff9900 !important;
	}
/* } */

#svgprime {
	margin-top: 25px;
}

/*-------------------------
 									Map Control
 --------------------------*/
#map-control {
	position: absolute;
	top: 50px;
	right: 25px;
}
#map-wrapper {
	position: relative;
}