@font-face {
    font-family: 'db_brandvoice_xbold';
    src: url('db_brandvoice_x_bd.eot');
    src: url('db_brandvoice_x_bd.eot?#iefix') format('embedded-opentype'),
         url('db_brandvoice_x_bd.woff') format('woff'),
         url('db_brandvoice_x_bd.ttf') format('truetype'),
         url('db_brandvoice_x_bd.svg#db_brandvoice_xbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_brandvoice_x_lightlight';
    src: url('db_brandvoice_x_li.eot');
    src: url('db_brandvoice_x_li.eot?#iefix') format('embedded-opentype'),
         url('db_brandvoice_x_li.woff') format('woff'),
         url('db_brandvoice_x_li.ttf') format('truetype'),
         url('db_brandvoice_x_li.svg#db_brandvoice_x_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_metta_x_mediummedium';
    src: url('db_metta_x_med_v3.2-webfont.eot');
    src: url('db_metta_x_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_metta_x_med_v3.2-webfont.woff') format('woff'),
         url('db_metta_x_med_v3.2-webfont.ttf') format('truetype'),
         url('db_metta_x_med_v3.2-webfont.svg#db_metta_x_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin time-font {
		font-family: 'db_brandvoice_xbold';
		font-size: 21px;
}

@mixin db_brandvoice_light {
		font-family: 'db_brandvoice_x_lightlight';
}


body {
	font-family: Thonburi, Helvetica, Tahoma, sans-serif;
	font-size: 13px;
}

/*-------------------------
 									Variables
 --------------------------*/
 $incident-color: #333;

/*-------------------------
 									Global
 --------------------------*/
.content {
	z-index: 2;
	width: 1044px;
	margin: 0 auto;
	position: relative;
	margin-top: -70px;
}
#slider-wrapper {
	position: absolute;
	top: 250px;
}

/*-------------------------
 									Border-Box
 --------------------------*/
 #cboxTopLeft, #cboxTopCenter, #cboxTopRight,
 #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft,
 #cboxBottomCenter, #cboxBottomRight{
	 display: none;
 }
 #cboxContent {
	 border-radius: 15px;
 }
/*-------------------------
 									PrimeBox
 --------------------------*/
.primebox {
	margin: 20px;
	img {
		float: left;
		margin-right: 15px;
	}
	.fullname, .holdyear, .time {
		font-family: 'db_brandvoice_xbold';
		font-size: 28px;
		color: #7c7256;
		margin-top: 0;

	}
	.holdyear {
		@include time-font;
	}
	ul {
		clear: both;
		padding-left: 20px;
		background: url('../images/timeline.png') repeat-y 22px 0;
		padding-top: 20px;
		li {
			margin-bottom: 20px;
			list-style: none;
		}
	}
	.time {
		background: url('../images/tl-point.png') no-repeat 0 10px;
		padding-left: 15px;
	}
	.data-year {
		padding-left: 15px;
		color: #333;
	}
}
#colorbox {
	opacity: 0.8;
}
#cboxWrapper, #cboxMiddleLeft,
#cboxContent, #cboxLoadedContent {
/* 	min-height: 400px; */
}
#cboxClose {
	padding: 10px 20px 0;
}


/*-------------------------
 									AccidentBox
 --------------------------*/
.event-graph-Accident, .event-graph-Event, .accident-map  {
	margin: 20px;
	background: url('../images/window-accident.png') no-repeat;
	ul {
		padding-left: 18px;
		padding-top: 20px;
		margin-top: 0;
		background: url('../images/timeline-red.png') repeat-y 22px 0;
		li {
			margin-bottom: 20px;
			list-style: none;
		}
	}
	.time {
		@include time-font;
		color: #c23d4d;
		background: url('../images/tl-point-red.png') no-repeat 0 10px;
		padding-left: 25px;
	}
	.incident, .acc_desc {
		@include time-font;
		padding-left: 25px;
		margin-bottom: 5px;
		color: $incident-color;
		font-size: 22px;
	}
	.detail, .acc_loc, .acc_eff {
		padding-left: 25px;
		font-size: 14px;
		span { font-weight: bold; }
	}
	.incident-year {
		@include time-font;
		margin-left: 60px;
		font-size: 30px;
		color: #c23d4d;
	}
}

/*-------------------------
 									EventBox
 --------------------------*/
.event-graph-Event {
	margin: 20px;
	background: url('../images/window-event.png') no-repeat;
	ul {
		background: url('../images/timeline-blue.png') repeat-y 25px 0;
	}
	.time {
		@include time-font;
		color: #1b7c94;
		background: url('../images/tl-point-blue.png') no-repeat 4px 10px;
	}
	.incident-year {
		color: #1b7c94;
	}
}

#graph-wrapper {
	width: 1044px;
	// overflow: hidden;
	position: relative;
}
#graph-control {
	position: absolute;
	right: 26px;
	top: 60px;
	div {
		margin-bottom: 10px;
	}
}
/*-------------------------
							Accident From Map
 --------------------------*/
.accident-map {
	.acc_date {
		@include time-font;
		color: #c23d4d;
		margin-left: 60px;
		margin-bottom: 5px;
		font-size: 30px;
	}
	.acc_desc { margin-top: 10px; }
}

/*-------------------------
	 									Tipsy
 --------------------------*/
.tipsy-inner {
	font-size: 13px;
	box-shadow: 1px 2px 3px 0px #333;
}
.tipsy-e {
	.tipsy-arrow, .tipsy-arrow-e {
		margin-top: -10px;
		right: -15px;
		border: 11px dashed transparent;
	}
}

.prime-minister-tipsy {
	.tipsy-arrow-e {
		border-left-color: white !important;
	}
	.tipsy-inner {
		font-size: 13px;
		background-color: white !important;
		color: #333;
		box-shadow: 1px 2px 4px 1px #333;
	}
	.tipsy-arrow-n {
		border-bottom-color: white !important;
		width: 3px;
	}
	.tipsy-arrow {
		border-bottom-width: 6px !important;
		right: 1px !important;
	}
}


.agriculture-subclass {
	.tipsy-arrow-e {
		border-left-color: #6ea22e !important;
	}
	.tipsy-inner {
		background-color: #6ea22e !important;
	}
}

.environment-subclass {
	.tipsy-arrow-e {
		border-left-color: #3e7824 !important;
	}
	.tipsy-inner {
		background-color: #3e7824 !important;
	}
}

.government-subclass {
	.tipsy-arrow-e {
		border-left-color: #1e65a8 !important;
	}
	.tipsy-inner {
		background-color: #1e65a8 !important;
	}
}

.home-subclass {
	opacity: 1 !important;
	.tipsy-arrow-e {
		border-left-color: #f5a00c !important;
	}
	.tipsy-inner {
		background-color: #f5a00c !important;
	}
}

.factory-subclass {
	opacity: 1 !important;
	.tipsy-arrow-e {
		border-left-color: #866fde !important;
	}
	.tipsy-inner {
		background-color: #866fde !important;
	}
}

.green-factory-subclass {
	opacity: 1 !important;
	.tipsy-arrow-e {
		border-left-color: #463f93 !important;
	}
	.tipsy-inner {
		background-color: #463f93 !important;
	}
}

.gpp-subclass {
	opacity: 1 !important;
	.tipsy-arrow-e {
		border-left-color: #ff7a37 !important;
	}
	.tipsy-inner {
		background-color: #ff7a37 !important;
	}
}

.event-subclass {
	opacity: 1 !important;
	.tipsy-arrow-e {
		border-left-color: #5cafc5 !important;
	}
	.tipsy-inner {
		background-color: #5cafc5 !important;
	}
}

.accident-subclass {
	opacity: 1 !important;
	.tipsy-arrow-e {
		border-left-color: #d63b3e !important;
	}
	.tipsy-inner {
		background-color: #d63b3e !important;
	}
}


.people-subclass {
	opacity: 1 !important;
	.tipsy-arrow-e {
		border-left-color: #296412 !important;
	}
	.tipsy-inner {
		background-color: #296412 !important;
	}
}

.peopleHide-subclass {
	opacity: 1 !important;
	.tipsy-arrow-e {
		border-left-color: #86a653 !important;
	}
	.tipsy-inner {
		background-color: #86a653 !important;
	}
}

#svgprime {
	margin-top: 25px;
}

/*-------------------------
 									Map Control
 --------------------------*/
#map-control {
	position: absolute;
	top: 50px;
	right: 25px;
	div { padding: 5px 8px; }
}
#map-wrapper {
	position: relative;
}

/*-------------------------
 									Slider-range
 --------------------------*/
#slider-range-max a {
	background: url('../images/btn-timeline.png') no-repeat;
	height: 75px;
	border: none;
	cursor: pointer;
	margin-left: -26px;
}

/* Title */
h1 {
	font-family: 'db_metta_x_mediummedium';
	font-weight: normal;
	color: #8F8467;
	margin-bottom: -10px;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 210px;
	background: #FBFAF8;
	padding: 30px 10px 8px;
	border-radius: 0 0 15px 15px;
	box-shadow: 1px 2px 2px 0px #999;
	position: relative;
	top: -15px;
	font-size: 46px;
	line-height: 40px;
	z-index: 10000;
	span {
		font-size: 60px;
		color: #7a7057;
	}
}