@font-face {
    font-family: 'db_brandvoice_xbold';
    src: url('db_brandvoice_x_bd.eot');
    src: url('db_brandvoice_x_bd.eot?#iefix') format('embedded-opentype'),
         url('db_brandvoice_x_bd.woff') format('woff'),
         url('db_brandvoice_x_bd.ttf') format('truetype'),
         url('db_brandvoice_x_bd.svg#db_brandvoice_xbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_brandvoice_x_lightlight';
    src: url('db_brandvoice_x_li.eot');
    src: url('db_brandvoice_x_li.eot?#iefix') format('embedded-opentype'),
         url('db_brandvoice_x_li.woff') format('woff'),
         url('db_brandvoice_x_li.ttf') format('truetype'),
         url('db_brandvoice_x_li.svg#db_brandvoice_x_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin time-font {
		font-family: 'db_brandvoice_xbold';
		font-size: 21px;
}


body {
	font-family: Thonburi, Helvetica, Tahoma, sans-serif;
	font-size: 13px;
}

/*-------------------------
 									Variables
 --------------------------*/
 $incident-color: #333;

/*-------------------------
 									PrimeBox 
 --------------------------*/
.primebox {
	img { 
		float: left; 
		margin-right: 15px;
	}
	.fullname, .holdyear, .time {
		font-family: 'db_brandvoice_xbold';
		font-size: 28px;
		color: #7c7256;
		margin-top: 0;
		
	}
	.holdyear { 
		@include time-font;
	}
	ul {
		clear: both;
		padding-left: 20px;
		background: url('../images/timeline.png') repeat-y 22px 0;
		padding-top: 20px;
		li {
			margin-bottom: 20px;
			list-style: none;
		}
	}
	.time {
		background: url('../images/tl-point.png') no-repeat 0 10px;
		padding-left: 15px;
	}
	.data-year {
		padding-left: 15px;
		color: #333;
	}
}
#colorbox {
	opacity: 0.8;
}
#cboxWrapper, #cboxMiddleLeft, 
#cboxContent, #cboxLoadedContent {
	min-height: 400px;
}
.event-graph-Event {
	background: url('../images/window-event.png') no-repeat;
	ul {
		padding-left: 65px;
		background: url('../images/timeline-blue.png') repeat-y 67px 0;
		li {
			margin-bottom: 20px;
			list-style: none;
		}		
	}
	.time {
		@include time-font;
		color: #1b7c94;
		background: url('../images/tl-point-blue.png') no-repeat 0 10px;
		padding-left: 15px;
	}
	.incident { 
		padding-left: 30px;
		color: $incident-color;
	}
}
