@font-face {
  font-family: 'db_brandvoice_xbold';
  src: url("db_brandvoice_x_bd.eot");
  src: url("db_brandvoice_x_bd.eot?#iefix") format("embedded-opentype"), url("db_brandvoice_x_bd.woff") format("woff"), url("db_brandvoice_x_bd.ttf") format("truetype"), url("db_brandvoice_x_bd.svg#db_brandvoice_xbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'db_brandvoice_x_lightlight';
  src: url("db_brandvoice_x_li.eot");
  src: url("db_brandvoice_x_li.eot?#iefix") format("embedded-opentype"), url("db_brandvoice_x_li.woff") format("woff"), url("db_brandvoice_x_li.ttf") format("truetype"), url("db_brandvoice_x_li.svg#db_brandvoice_x_lightlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'db_metta_x_mediummedium';
  src: url("db_metta_x_med_v3.2-webfont.eot");
  src: url("db_metta_x_med_v3.2-webfont.eot?#iefix") format("embedded-opentype"), url("db_metta_x_med_v3.2-webfont.woff") format("woff"), url("db_metta_x_med_v3.2-webfont.ttf") format("truetype"), url("db_metta_x_med_v3.2-webfont.svg#db_metta_x_mediummedium") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Thonburi, Helvetica, Tahoma, sans-serif;
  font-size: 13px; }

/*-------------------------
 									Variables
 --------------------------*/
/*-------------------------
 									Global
 --------------------------*/
.content {
  z-index: 2;
  width: 1044px;
  margin: 0 auto;
  position: relative;
  margin-top: -70px; }

#slider-wrapper {
  position: absolute;
  top: 250px; }

/*-------------------------
 									Border-Box
 --------------------------*/
#cboxTopLeft, #cboxTopCenter, #cboxTopRight,
#cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft,
#cboxBottomCenter, #cboxBottomRight {
  display: none; }

#cboxContent {
  border-radius: 15px; }

/*-------------------------
 									PrimeBox
 --------------------------*/
.primebox {
  margin: 20px; }
  .primebox img {
    float: left;
    margin-right: 15px; }
  .primebox .fullname, .primebox .holdyear, .primebox .time {
    font-family: 'db_brandvoice_xbold';
    font-size: 28px;
    color: #7c7256;
    margin-top: 0; }
  .primebox .holdyear {
    font-family: 'db_brandvoice_xbold';
    font-size: 21px; }
  .primebox ul {
    clear: both;
    padding-left: 20px;
    background: url("../images/timeline.png") repeat-y 22px 0;
    padding-top: 20px; }
    .primebox ul li {
      margin-bottom: 20px;
      list-style: none; }
  .primebox .time {
    background: url("../images/tl-point.png") no-repeat 0 10px;
    padding-left: 15px; }
  .primebox .data-year {
    padding-left: 15px;
    color: #333; }

#colorbox {
  opacity: 0.8; }

#cboxWrapper, #cboxMiddleLeft,
#cboxContent, #cboxLoadedContent {
  /* 	min-height: 400px; */ }

#cboxClose {
  padding: 10px 20px 0; }

/*-------------------------
 									AccidentBox
 --------------------------*/
.event-graph-Accident, .event-graph-Event, .accident-map {
  margin: 20px;
  background: url("../images/window-accident.png") no-repeat; }
  .event-graph-Accident ul, .event-graph-Event ul, .accident-map ul {
    padding-left: 18px;
    padding-top: 20px;
    margin-top: 0;
    background: url("../images/timeline-red.png") repeat-y 22px 0; }
    .event-graph-Accident ul li, .event-graph-Event ul li, .accident-map ul li {
      margin-bottom: 20px;
      list-style: none; }
  .event-graph-Accident .time, .event-graph-Event .time, .accident-map .time {
    font-family: 'db_brandvoice_xbold';
    font-size: 21px;
    color: #c23d4d;
    background: url("../images/tl-point-red.png") no-repeat 0 10px;
    padding-left: 25px; }
  .event-graph-Accident .incident, .event-graph-Accident .acc_desc, .event-graph-Event .incident, .event-graph-Event .acc_desc, .accident-map .incident, .accident-map .acc_desc {
    font-family: 'db_brandvoice_xbold';
    font-size: 21px;
    padding-left: 25px;
    margin-bottom: 5px;
    color: #333333;
    font-size: 22px; }
  .event-graph-Accident .detail, .event-graph-Accident .acc_loc, .event-graph-Accident .acc_eff, .event-graph-Event .detail, .event-graph-Event .acc_loc, .event-graph-Event .acc_eff, .accident-map .detail, .accident-map .acc_loc, .accident-map .acc_eff {
    padding-left: 25px;
    font-size: 14px; }
    .event-graph-Accident .detail span, .event-graph-Accident .acc_loc span, .event-graph-Accident .acc_eff span, .event-graph-Event .detail span, .event-graph-Event .acc_loc span, .event-graph-Event .acc_eff span, .accident-map .detail span, .accident-map .acc_loc span, .accident-map .acc_eff span {
      font-weight: bold; }
  .event-graph-Accident .incident-year, .event-graph-Event .incident-year, .accident-map .incident-year {
    font-family: 'db_brandvoice_xbold';
    font-size: 21px;
    margin-left: 60px;
    font-size: 30px;
    color: #c23d4d; }

/*-------------------------
 									EventBox
 --------------------------*/
.event-graph-Event {
  margin: 20px;
  background: url("../images/window-event.png") no-repeat; }
  .event-graph-Event ul {
    background: url("../images/timeline-blue.png") repeat-y 25px 0; }
  .event-graph-Event .time {
    font-family: 'db_brandvoice_xbold';
    font-size: 21px;
    color: #1b7c94;
    background: url("../images/tl-point-blue.png") no-repeat 4px 10px; }
  .event-graph-Event .incident-year {
    color: #1b7c94; }

#graph-wrapper {
  width: 1044px;
  position: relative; }

#graph-control {
  position: absolute;
  right: 26px;
  top: 60px; }
  #graph-control div {
    margin-bottom: 10px; }

/*-------------------------
							Accident From Map
 --------------------------*/
.accident-map .acc_date {
  font-family: 'db_brandvoice_xbold';
  font-size: 21px;
  color: #c23d4d;
  margin-left: 60px;
  margin-bottom: 5px;
  font-size: 30px; }
.accident-map .acc_desc {
  margin-top: 10px; }

/*-------------------------
	 									Tipsy
 --------------------------*/
.tipsy-inner {
  font-size: 13px;
  box-shadow: 1px 2px 3px 0px #333; }

.tipsy-e .tipsy-arrow, .tipsy-e .tipsy-arrow-e {
  margin-top: -10px;
  right: -15px;
  border: 11px dashed transparent; }

.prime-minister-tipsy .tipsy-arrow-e {
  border-left-color: white !important; }
.prime-minister-tipsy .tipsy-inner {
  font-size: 13px;
  background-color: white !important;
  color: #333;
  box-shadow: 1px 2px 4px 1px #333; }
.prime-minister-tipsy .tipsy-arrow-n {
  border-bottom-color: white !important;
  width: 3px; }
.prime-minister-tipsy .tipsy-arrow {
  border-bottom-width: 6px !important;
  right: 1px !important; }

.agriculture-subclass .tipsy-arrow-e {
  border-left-color: #6ea22e !important; }
.agriculture-subclass .tipsy-inner {
  background-color: #6ea22e !important; }

.environment-subclass .tipsy-arrow-e {
  border-left-color: #3e7824 !important; }
.environment-subclass .tipsy-inner {
  background-color: #3e7824 !important; }

.government-subclass .tipsy-arrow-e {
  border-left-color: #1e65a8 !important; }
.government-subclass .tipsy-inner {
  background-color: #1e65a8 !important; }

.home-subclass {
  opacity: 1 !important; }
  .home-subclass .tipsy-arrow-e {
    border-left-color: #f5a00c !important; }
  .home-subclass .tipsy-inner {
    background-color: #f5a00c !important; }

.factory-subclass {
  opacity: 1 !important; }
  .factory-subclass .tipsy-arrow-e {
    border-left-color: #866fde !important; }
  .factory-subclass .tipsy-inner {
    background-color: #866fde !important; }

.green-factory-subclass {
  opacity: 1 !important; }
  .green-factory-subclass .tipsy-arrow-e {
    border-left-color: #463f93 !important; }
  .green-factory-subclass .tipsy-inner {
    background-color: #463f93 !important; }

.gpp-subclass {
  opacity: 1 !important; }
  .gpp-subclass .tipsy-arrow-e {
    border-left-color: #ff7a37 !important; }
  .gpp-subclass .tipsy-inner {
    background-color: #ff7a37 !important; }

.event-subclass {
  opacity: 1 !important; }
  .event-subclass .tipsy-arrow-e {
    border-left-color: #5cafc5 !important; }
  .event-subclass .tipsy-inner {
    background-color: #5cafc5 !important; }

.accident-subclass {
  opacity: 1 !important; }
  .accident-subclass .tipsy-arrow-e {
    border-left-color: #d63b3e !important; }
  .accident-subclass .tipsy-inner {
    background-color: #d63b3e !important; }

.people-subclass {
  opacity: 1 !important; }
  .people-subclass .tipsy-arrow-e {
    border-left-color: #296412 !important; }
  .people-subclass .tipsy-inner {
    background-color: #296412 !important; }

.peopleHide-subclass {
  opacity: 1 !important; }
  .peopleHide-subclass .tipsy-arrow-e {
    border-left-color: #86a653 !important; }
  .peopleHide-subclass .tipsy-inner {
    background-color: #86a653 !important; }

#svgprime {
  margin-top: 25px; }

/*-------------------------
 									Map Control
 --------------------------*/
#map-control {
  position: absolute;
  top: 50px;
  right: 25px; }
  #map-control div {
    padding: 5px 8px; }

#map-wrapper {
  position: relative; }

/*-------------------------
 									Slider-range
 --------------------------*/
#slider-range-max a {
  background: url("../images/btn-timeline.png") no-repeat;
  height: 75px;
  border: none;
  cursor: pointer;
  margin-left: -26px; }

/* Title */
h1 {
  font-family: 'db_metta_x_mediummedium';
  font-weight: normal;
  color: #8F8467;
  margin-bottom: -10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 210px;
  background: #FBFAF8;
  padding: 30px 10px 8px;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 2px 2px 0px #999;
  position: relative;
  top: -15px;
  font-size: 46px;
  line-height: 40px;
  z-index: 1; }
  h1 span {
    font-size: 60px;
    color: #7a7057; }
